body {
    margin: 0
}

.crm-container {
    display: flex;
}

.main-content {
    flex-grow: 1;
}

.sales-table {
    width: 100%;
}

.sidebar {
    width: 200px;
    background-color: rgb(245, 247, 248);
    color: rgb(54, 60, 66);
    padding: 20px;
    height: 600px;
}

.nav-list {
    list-style-type: none;
    padding: 0;
}

.nav-item {
    padding: 10px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

span {
    padding: 10px;
}